{% block title %}SignIn Page{% endblock title %}

{% block content %}
    <h2>SignIn Page</h2>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{% if message.tags %}"{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
        <br><br>
        <a href="{% url 'polls:index' %}">Home</a>
    </form>
{% endblock content %}